<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2.3.dtd">

<web-app>
    <display-name>moskitodemo</display-name>

    <!-- Those are some additional features that are not included into standart fragment -->
   	<filter>
        <filter-name>SessionThrottleFilter</filter-name>
       	<filter-class>net.anotheria.moskito.web.util.SessionThrottleFilter</filter-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>configureme</param-value>
		</init-param> 
<!--		
		<init-param>
			<param-name>config</param-name>
			<param-value>web.xml</param-value>
		</init-param> 
		<init-param>
			<param-name>limit</param-name>
			<param-value>5</param-value>
		</init-param>
		<init-param>
			<param-name>redirectTarget</param-name>
			<param-value>http://www.google.com</param-value>
		</init-param> -->
   	</filter>

    <filter-mapping>
       	<filter-name>SessionThrottleFilter</filter-name>
   	    <url-pattern>/*</url-pattern>
    </filter-mapping>
   	<filter-mapping>
       	<filter-name>SessionThrottleFilter</filter-name>
   	    <url-pattern>/</url-pattern>
    </filter-mapping>



     <servlet>
        <servlet-name>demoservlet1</servlet-name>
        <servlet-class>org.anotheria.moskitodemo.servlet.SimpleServlet</servlet-class>
  		<load-on-startup>5</load-on-startup>
    </servlet>
    

     <servlet>
        <servlet-name>demoservlet2</servlet-name>
        <servlet-class>org.anotheria.moskitodemo.servlet.TomcatServlet</servlet-class>
  		<load-on-startup>5</load-on-startup>
    </servlet>

	<servlet-mapping>
		<servlet-name>demoservlet1</servlet-name>
		<url-pattern>/demo1/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>demoservlet2</servlet-name>
		<url-pattern>/demo2/*</url-pattern>
	</servlet-mapping>

   	<filter>
        <filter-name>MoskitoDemoFilter</filter-name>
       	<filter-class>org.anotheria.moskitodemo.MoskitoDemoFilter</filter-class>
		<init-param>
			<param-name>path</param-name>
			<param-value>/guestbook/</param-value>
		</init-param>
   	</filter>
   	
   	<filter>
        <filter-name>MoskitoDemoFilter2</filter-name>
       	<filter-class>org.anotheria.moskitodemo.MoskitoDemoFilter</filter-class>
		<init-param>
			<param-name>path</param-name>
			<param-value>/demo/</param-value>
		</init-param>
   	</filter>

	<filter>
        <filter-name>SourceIpSegmentFilter</filter-name>
        <filter-class>net.anotheria.moskito.web.filters.SourceIpSegmentFilter</filter-class>
		<init-param>
			<param-name>limit</param-name>
			<param-value>1000</param-value>
		</init-param>
    </filter>
	<filter>
        <filter-name>SourceTldFilter</filter-name>
        <filter-class>net.anotheria.moskito.web.filters.SourceTldFilter</filter-class>
		<init-param>
			<param-name>limit</param-name>
			<param-value>1000</param-value>
		</init-param>
    </filter>
	<filter>
        <filter-name>AsyncSourceTldFilter</filter-name>
        <filter-class>net.anotheria.moskito.web.filters.AsyncSourceTldFilter</filter-class>
		<init-param>
			<param-name>limit</param-name>
			<param-value>1000</param-value>
		</init-param>
    </filter>


    <filter-mapping>
        <filter-name>SourceIpSegmentFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SourceTldFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AsyncSourceTldFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

   	<filter-mapping>
       	<filter-name>MoskitoDemoFilter</filter-name>
   	    <url-pattern>/guestbook/*</url-pattern>
    </filter-mapping>
   	<filter-mapping>
       	<filter-name>MoskitoDemoFilter2</filter-name>
   	    <url-pattern>/demo/*</url-pattern>
    </filter-mapping>

	<welcome-file-list>
	    	<welcome-file>index.html</welcome-file>
  	</welcome-file-list>

	<!-- taglib definitions -->
	<!--jsp-config-->
	<taglib>
    	<taglib-uri>/tags/json</taglib-uri>
	    <taglib-location>/WEB-INF/tld/json.tld</taglib-location>
	</taglib>
		
	<!--/jsp-config-->

    <listener>
		<listener-class>
            net.anotheria.moskito.web.session.SessionByTldListener
        </listener-class>
	</listener>
    <!--
    <listener>
        <listener-class>
            net.anotheria.moskito.web.session.TestListener
        </listener-class>
    </listener>
    -->

    <listener>
		<listener-class>
            org.anotheria.moskitodemo.threshold.presentation.listener.SetupThresholds
		</listener-class>
    </listener>
    <listener>
		<listener-class>
            org.anotheria.moskitodemo.accumulator.listener.SetupAccumulators
        </listener-class>
    </listener>
	
</web-app>